/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
@font-face{font-family: 'FontAwesome';src: url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?v=4.7.0');src: url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');font-weight: normal;font-style: normal;}.fa{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}.fa-comment-o:before{content:"\f0e5";}.fa-comments-o:before{content:"\f0e6";}
body{font-size:14px;}
.btn-lg{height:45px;}
.alert-info{background-color:#0c84e4;}
.alert-info h2{color:#eee;}
.alert-danger{background-color:#e53935;}
.panel-danger .panel-heading{background-color:#e53935;}
.btn-danger{background-color:#e53935;}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{font-weight:200;}
.well h4{font-size:17px;}
.navbar-brand i{text-shadow: 0 0 5px #eee;font-size:48px;color:#fff;height:72px;width:72px;line-height:50%;text-align:center;}
.loader{position:fixed;top:0px;left:0px;width:100%;height:100%;background:url('/img/comment.gif') 50% 50% no-repeat #f3f3f3;z-index:100;}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	h4{font-size:18px;}
	h3{font-size:28px;}
	h2{font-size:32px;}
	h1{font-size:36px;}
	.panel a[data-toggle="tab"]{padding:10px 0px;}
	.panel-footer{font-size:12px;}
	.panel-body#scroll{-webkit-overflow-scrolling: touch;height:52vh!important;}
	.no-sm{height: 0px; visibility: hidden; padding: 2px;}
	.no-sm-pad{padding:.2px}
}
