<form action="search.php" method="get">
	<div class="col-xs-12 col-md-offset-3 col-md-6 form-group">
		<div class="input-group col-xs-12">
			<input type="text" maxlength="31" name="user" class="form-control input-lg" placeholder="Rechercher utilisateur" required>
			<span class="input-group-btn">
				<button class="btn btn-primary" style="padding:15px;" type="submit">
					<i class="glyphicon glyphicon-search"></i>
				</button>
			</span>
		</div>
	</div>
</form>
